params {outdir = "result"}

process {


    withName: fastp {
        publishDir = [ 
        [
            path: "${params.outdir}/fastp/Result_fastq",
            mode:  'copy',
            pattern: '*.fastq.gz'
  ],
  [ 
            path: "${params.outdir}/fastp/Result_report",
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.fastq.html') || filename.endsWith('.json') ? filename : null } 
  ]
        ]
 }
    withName: SPAdes {
        publishDir = [ 
            path: "${params.outdir}/Result_SPAdes",
            mode: 'copy'
        ]
    }

}